body{
    background-image: url(/Images/backgroundimage.png);
    background-size: 1750px, 1950px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
}






 
